body.grayscale-mode {
  background-color: var(--tg-bg-color);
  color: var(--tg-text-color);
  filter: grayscale(100%);

  /* Typography */
  h1,
  h1.elementor-heading-title,
  h2,
  h2.elementor-heading-title,
  h3,
  h3.elementor-heading-title,
  h4,
  h4.elementor-heading-title,
  h5,
  h5.elementor-heading-title,
  h6,
  h6.elementor-heading-title {
    color: var(--tg-text-color);
    a,
    span {
      color: var(--tg-text-color) !important;
    }
  }

  p.elementor-icon-box-description {
    color: var(--tg-text-color) !important;
  }

  .elementor-counter {
    .elementor-counter-title,
    .elementor-counter-number-wrapper span {
      color: var(--tg-text-color) !important;
    }
  }

  .wpr-advanced-accordion {
    button.wpr-acc-button {
      color: var(--tg-text-color) !important;
      svg {
        fill: var(--tg-text-color) !important;
      }
    }
    .wpr-acc-panel-content {
      color: var(--tg-text-color) !important;
    }
  }

  .elementor-widget-theme-post-content {
    color: var(--tg-text-color) !important;
  }

  .wpr-breadcrumbs {
    color: var(--tg-text-color) !important;
    a {
      color: var(--tg-text-color) !important;
    }
  }

  .inner-block {
    color: var(--tg-text-color) !important;
  }

  p.wpr-feature-list-description {
    color: var(--tg-text-color) !important;
    a button {
      color: var(--tg-text-color) !important;
    }
  }

  .wpr-grid-item-read-more a {
    color: var(--tg-text-color) !important;
  }

  .dark-white-tecno {
    background-color: var(--tg-bg-color-secondary) !important;
  }

  div.elementor-widget-heading
    div.elementor-widget-container
    h2.elementor-heading-title {
    color: var(--tg-text-color);
    span {
      color: var(--tg-text-color);
    }
  }

  /* Text widget */
  .elementor-widget-text-editor div.elementor-widget-container {
    color: var(--tg-text-color);
  }

  /* Buttons */
  div.elementor-widget-container div.wpr-button-wrap a.wpr-button {
    background-color: var(--tg-bg-color);
    border-color: var(--tg-border-color);
    span.wpr-button-text {
      color: var(--tg-text-color);
    }

    span.wpr-button-icon {
      svg {
        fill: var(--tg-text-color);
      }
    }
  }

  /* Menus */
  /* Top secondary navbar */
  div.elementor-element.elementor-element-df63de2[data-id="df63de2"] {
    background-color: var(--tg-bg-color-secondary);
    a.wpr-menu-item {
      color: var(--tg-text-color);
    }
  }

  /* Top primary navbar */
  div.elementor-element.elementor-element-09140c4[data-id="09140c4"] {
    background-color: var(--tg-bg-color);

    [data-id="92c8d75"] img {
      filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
        hue-rotate(288deg) brightness(101%) contrast(103%);
    }

    a.wpr-menu-item {
      color: var(--tg-text-color);
    }

    div.wpr-button-wrap a.wpr-button {
      color: var(--tg-text-color);
      border: 1px solid var(--tg-border-color);
    }
  }

  /* Mega menus */
  [data-elementor-post-type="wpr_mega_menu"] {
    background-color: var(--tg-bg-color-secondary);

    .elementor-element-9ce1304[data-id="9ce1304"] > div {
      background-color: var(--tg-bg-color-secondary);
    }
  }

  /* Case study logos */
  .elementor-element-5db5131[data-id="5db5131"] {
    img {
      filter: invert(100%);
    }
  }

  /* Dialogs (like mobile menus) */
  .dialog-widget {
    .dialog-widget-content {
      background-color: var(--tg-bg-color-secondary);
      color: var(--tg-text-color);
      svg {
        fill: var(--tg-text-color);
      }
      .list-wrapper {
        background-color: var(--tg-bg-color-secondary);
        a {
          color: var(--tg-text-color);
        }
      }
    }
  }
}
